body {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    padding: 0;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.gallery-item {
    flex-basis: calc(33.333% - 10.67px);
}
.gallery-image {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 6px;
}

.gallery-image:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.modal-controls {
    position: fixed;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.modal-btn {
    background: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 50%;
    padding: 12px;
    margin: 0 10px;
    cursor: pointer;
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
    position: relative;
}

.modal-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

.modal-btn svg {
    width: 24px;
    height: 24px;
    fill: white;
}

.modal-btn.left {
    right: 75px;
}

.modal-btn.right {
  left: 75px;  
}


@keyframes slideOutLeft {
    0%   { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(-100%); }
}

@keyframes slideOutRight {
    0%   { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(100%); }
}

@keyframes slideInLeft {
    0%   { opacity: 0; transform: translateX(-100%); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideInRight {
    0%   { opacity: 0; transform: translateX(100%); }
    100% { opacity: 1; transform: translateX(0); }
}

.img-animate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: none;
}